# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.idea/
*.pyc
*.tar
datasets/outputs
.DS_Store
dataset_landmarks
dataset_videos
mouth_roi
shape_predictor_68_face_landmarks.dat

train_logs/tcn/*

*.onnx