# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.idea/
.ipynb_checkpoints
*.pyc
*.tar
datasets/outputs
.DS_Store
dataset_landmarks
dataset_videos
mouth_roi
shape_predictor_68_face_landmarks.dat
*.jpg

train_logs/tcn/*

*.onnx